body {
    min-height: 100vh;
    background-image: url('https://cdn.choosechicago.com/uploads/2024/08/BEEF-LIBERTY-PDR-2-1800x1200.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    background-color: red;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-radius: 45%;
    margin-left:30px;
    margin-right: 30px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    font-family: "Sonsie One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sub {
display:flex;
margin: 30px;
transition: 0.3s;
cursor: pointer;
justify-content: space-between;
}
#Beverage .sub:hover {
    background-color: black;
    font-size: 100px;
}
.special{
    display:flex;
    margin: 30px;
    justify-content: space-between;
    transition: background-color 0.3s;
    cursor: pointer;

}
.special:hover {
    background-color: white;
}
.Snacks {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: beige;
padding: 70px;
margin: 70px;
margin-left: 400px;
margin-right: 400px;
border-radius: 3%;

}
#Comrade {
    font-family: Georgia, 'Times New Roman', Times, serif;
        background: brown;
        padding: 70px;
        margin: 70px;
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 3%;
        
}
    
#Beverage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    padding: 70px;
        margin: 70px;
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 3%;
        

}
#special-dish {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('https://cdn.foodaciously.com/static/recipe/9yyfV7NERqMagoV6Z0rU/kenyan-pilau-rice-2-3673b6aa500f620d8075c23c6bda3e4d-1280-q60.jpg');
    font-size: larger;
    font-weight: bolder;
    color: red;
    padding: 70px;
        margin: 70px;
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 3%;
        
}

